@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    color: white;
    font-family: monospace;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: "Lobster Two";
}

body {
    align-items: center;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

button {
    border-radius: 5px;
    color: black;
    padding: 10px;
    width: 100%;
    font-family: "Roboto";
}

.deleteMe {
    color: red;
    font-weight: 800;
}

h1{
    font-family: "Roboto";
    font-weight: 800;
}
.h2-todo{
    font-family: "Roboto";
    font-size: 0.75em;
}
h3 {
    color: black;
    font-family: "Roboto";
    text-align: center;
}

.alert{
    font-size: 0.8em;
}

input {
    color: grey;
}

input[type="text"]{
    border-radius: 5px;
    margin: 1em 0;
    padding: 10px;
    width: 100%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    color: currentColor;
    display: grid;
    font: inherit;
    height: 1.15em;
    margin: 0;
    place-content: center;
    width: 1.15em;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    box-shadow: inset 1em 1em 0 0 var(--background-color);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    content: "";
    height: 0.65em;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    width: 0.65em;
}

#container {
    align-items: center;
    background: #27272c;
    border-image: linear-gradient(var(--gradient-angle,to bottom),var(--gradient)) 1;
    border-style: solid;
    border-width: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 2em;
    --gradient-angle: 35deg;
    width: 65%;
}

.todo-content, .todo-item {
    align-items: center;
    justify-content: start;
    display: flex;
    gap: 20px;
    width: 400px;
}

.todo-item {
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px;
    margin: 1em 0;
    padding: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

:root {
    --background-color: #27272c;
    --color-blue: #00bbcb;
    --color-gray: #8e8e8e;
    --color-green: #62cb5c;
    --color-on-blue: #004a09;
    --color-primary: #ab79d6;
    --color-secondary: #d367c1;
    --color-yellow: #dedf40;
    --form-control-disabled: #959495;
    --gradient: var(--color-secondary) 10%,var(--color-yellow) 25%,var(--color-green) 50%,var(--color-blue) 75%,var(--color-primary) 90%;
}
/* Mobile version ab 768px Breite */
@media screen and (max-width: 768px) {
    *{
        font-size: 1em;
    }
     .logo{
        width: 75%;
        position: relative;
        margin-top: 1em;
     }
     body{
        height: 100%;
     }
     .todo-item{
        width: 50vw;
         }
}
