*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    font-size: 1.2em;
    color: white;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: blueviolet;
    gap: 20px;
    padding: 2em;
}

h3{
    color: red;
}
.todo-item, .todo-content{
    display: flex;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.deleteMe{
    color: red;
    font-weight: 800;
}

button{
    padding: 10px;
    border-radius: 5px;
    width: 5em;
    color: black;
}

input{
    color: grey;
}

.todo-item{
    background-color: rgba(255, 255, 255, 0.459);
    padding: 10px;
    border-radius: 5px;
    margin: 1em 0;
}